body {
    background: #eee;
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    color: #09f;
}