{% extends "layout.twig" %}

{% block content %}
    <h2>PHP con FastRoute, PHP-DI y Twig</h2>
    <h4>Consulta del artículo con id {{articulo.getId()}}</h4>

    <ul class="collection">
        <li class="collection-item avatar">
            <i class="mdi-insert-comment circle"></i>
            <b class="title">Descripción: {{articulo.getDescripcion()}}</b>
            <p>Precio: {{articulo.getPrecio()}}</p>
        </li>
    </ul>
{% endblock %}