<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      body {
        background: #004466;
        color: white;
        font-family: Helvetica, Arial;
        text-align: center;
        padding: 20vh;
      }
      h1 {
        font-size: 72px;
      }

      h3 {
        margin: 40px 0;
      }

      .btn {
        background-color: #e9970b;
        color: white;
        padding: 15px 20px;
        border-radius: 20px;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1><%= titulo %></h1>
    <h3>La ubicación que buscas no existe :(</h3>
    <div>
      <a href="http://localhost:3000/" class="btn"
        >Regresar a la página de inicio</a
      >
    </div>
  </body>
</html>
