{% extends 'layout.twig' %}

{% block title %}Almacenar libros{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center text-muted"> libros</h1>
        </div>
        
<ul>
    {% for user in libros %}
        <li>{{ user.id }}</li>
    {% endfor %}
</ul>
        

    </div>
{% endblock %}